body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}
#head{
    height:30px;
    width: 100%;
    background-color: rgb(184, 203, 129);
    color: beige;
    justify-content: center;
    text-align: center;
    padding: 0px;
    margin: 0px;
    line-height: 28px;
}
.container{
    width: 100%;
    display: inline-block;
    margin: 10px 200px;
    overflow: hidden;    
}
#bhai{
    color: rgb(169, 83, 25);
}
#ahad{
    float: left;
    text-decoration: none;
    margin: 20px auto;
    padding: 30px 100px;
    font-size: 30px;
    overflow: hidden;
    cursor: pointer;  
    line-height: 20px;
}
.ahad{
    float: left;
    text-decoration: none;
    margin: 10px auto;
    padding: 30px 20px;
    font-size: 30px;
    overflow: hidden;
    cursor: pointer;    
}
.ahad:hover{
    color: rgb(80, 76, 76);
}
.ahad::after{
    content: '';
    width: 0%;
    height: 4px;
    display: block;
    transition: width.5s;
    background-color: black;
    border-radius: 20px;

}
.ahad:hover::after{
    width: 100%;
}
.imga:hover{
    filter: blur(4px);
    cursor: pointer;
    
}
 .header{
    position: relative;
 }
 .idool{

    position: absolute;
    top: 110px;
    left: 320px;
    right: 180px;
    font-size: 40px;
    color: azure;
    cursor: pointer;
 }
 .butt{
    position: absolute;
    top: 295px;
    left: 500px;
    font-size: 35px;
    border-radius: 1px;
    background-color: rgb(155, 59, 18);
    color: azure;
    cursor: pointer;
    border: none;
 }
 
 .open{
    margin-top: 60px;
    margin-left: 320px;
    margin-right: 180px;
    justify-content: center;
    text-align: center;
    font-size: 40px;
 }
 .row{
    width: 100%;
    height: 540px;
    display: flex;
    
 }
 .colm{
    height: 260px;
    margin: 100px;
    margin-top: 4%;
    width: 100%;
 }
 .img1{
    height: 200px;
    width: 180px;
    margin-left: 33px;

 }
 .cls1{
    font-size: 30px;
    margin: 7px;
    margin-left: 87px;
    width: 100%;
    color: rgb(164, 136, 100);
 }
 .ph1{
    width:350px;
    font-size: 20px;
    margin-left: 0px;
 }
 .bu{
   margin-top: 10px;
    font-size: 20px;
    margin-left: 13px;
    background-color: silver;
    color: azure;
    border: none;
    border-radius :1px; 
    padding: 3px;
 }


.igman{
    float: left;

 }
 .idol1{ 
    background-color: rgb(243, 233, 222);
    width: auto;
    height: 700px;
 }
 .bhaij{
    padding-top: 200px;
    padding-left: 1000px;
    font-size:25px;
    
 }
 .ahadj{
    margin-top: 20px;
    padding-left: 1000px;
    font-size:25px;

 }
 .jbhai{
    padding-left: 1000px;
    padding-right: 70px;
    margin-top: 20px;
 }
 .bott{
    margin-left: 234px;
    background-color: rgb(155, 59, 18);
    color: azure;
    padding: 5px;
    position: absolute;
    margin-top: 30px;
    border: none;
    border-radius: 1px;
 }
 
 .row1{
    width: 100%;
    height: 470px;
    display: flex;
    padding-left: 140px;
 }
  .mush{
   font-size: 30px;
   text-align: center;
   margin-top: 100px;
  }
 .colm2{
    width: 250px;
    background-color:rgb(202, 182, 157);
    border: none;
    height: 360px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 50px;
    border-radius: 2px;
 }
 .first{
   margin-top: 70px;
   font-size: 25px;
   text-align: center;
 }
 
 .ll{
   text-align: center;
   margin-top:0px;
   background-color: darkgrey;
 }
 .lbut{
   text-align: center;
   width: 200px;
   margin-left: 45%;
   font-size: 18px;
   color: azure;
   background-color: rgb(104, 85, 85);
   padding: 7px;
   border: none;
 }
 .idollab{
   width: 49.25%;
   height: 700px;
   float: left;
   background-color: rgb(243, 233, 222);
 }
 .igmanlab{
   float: right;
 }
 .bhaijlab{
   padding-top: 150px;
   padding-left: 80px;
   font-size: 25px;
 }
 .ahadjlab{
   padding-top: 13px;
   padding-left: 80px;
   font-size: 25px;
 }
 .jbhailab{
   padding-left: 80px;
   padding-right: 80px;
   margin-top: 30px;

 }
 #select{
   margin-left: 80px;
   margin-top: 23px;
   font-size: 15px;
   padding-left: 10px;
   width: 190px;
   float: left;
   padding: 10px;
   background-color: azure;
   color: black;
   border: none;
 }
 .bottlab{
   margin-left:3px;
   padding: 10px;
   font-size: 15px ;
   color: azure;
   background-color: rgb(136, 49, 49);
   border: none;

 }
 .containerlab{
   margin-top: 80px;
 }
 .col{
   background-color:rgb(197, 188, 188);
   color: white;
 }
 .myb{
   margin-top: 50%;
   height: 200px;
   padding-top: 100px;
 }
.chal{
   margin-left: 41%;
   font-size: 35px;  
   width: 100%;
 }
 .container3{
   width: 50%;
   display: inline-block;
   overflow: hidden;    
   margin-left: 37.3%;
 }
 .ahad3{
   float: left;
    text-decoration: none;
    padding: 30px 10px;
    font-size: 15px;
    overflow: hidden;
    cursor: pointer; 
 }
 .inline-flex{
   margin-left: 45%;
 }
 .mayb{
   width: 50%;
   display: inline-block;
   overflow: hidden;    
   margin-left: 35%;
   justify-content: center;
 }
 .yes{
   float: left;
    text-decoration: none;
    padding: 7px 10px;
    font-size: 15px;
    overflow: hidden;
    cursor: pointer; 
 }
 .no{
    text-decoration: none;
    font-size: 15px;
    cursor: pointer; 
    justify-items: center;
    margin-left: 10%;
    margin-right: 50%;
 }
 